<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssured Suite" parallel="none" verbose="2">

	<listeners>
        <listener class-name="utils.CustomHtmlReporter"/>
    </listeners>
    <test name="Booking Flow - End to End">

        <classes>
            <!-- Step 1: Health Check -->
            <class name="tests.HealthCheckTest"/>

            <!-- Step 2: Create Booking -->
            <class name="tests.CreateBookingTest"/>

            <!-- Step 3: Get Booking by ID -->
            <class name="tests.GetBookingbyIdTest"/>

            <!-- Step 4: Get Booking IDs with filters -->
            <class name="tests.GetBooking_ids_name_datesTest"/>

            <!-- Step 5: Partial Update Booking -->
            <class name="tests.PartialUpdateBookingTest"/>

            <!-- Step 6: Full Update Booking -->
            <class name="tests.UpdateBookingTest"/>

            <!-- Step 7: Delete Booking -->
            <class name="tests.DeleteBookingTest"/>
        </classes>

    </test>

</suite>